/*头部start*/
.aui-bar-nav{
    background-color: #cd3c3c;
}
/*头部end*/
/*底部start*/
.aui-bar-tab{
    height: 3rem;
    background-color: #cd3c3c;
}
.add{
    display: inline-block;
    position: absolute;
    top:-1rem;
    left: 50%;
    margin-left: -2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #cd3c3c;
    border-radius: 100%;
}
.add:active{
    box-shadow: 0 0 1rem #cd3c3c;
}
.icon-jia{
    font-size: 3.2rem;
    color: #ffffff;
}
.icon-jia:active{
    color: #eeeeee;
}
.icon-plus{
    font-size: 3.2rem;
    color: #ffffff;
}
/*底部end*/
